@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: white;
  --primary-color: #f58220;
  --secondary-color: #facc15;
  --text-color: black;
  --gradient-start: white;
  --gradient-finish: #fef2e8;
  --gradient-color: #fce3ce;
  --img-bg: #f7f8f9;
  --border-color: #e5e7eb;
  --cancel-button: #fdecec;
}

.dark {
  --bg-color: #020617;
  --primary-color: #f58220;
  --secondary-color: #facc15;
  --text-color: white;
  --img-bg: #080f24;
  --gradient-start: black;
  --gradient-finish: #1b1218;
  --gradient-color: #331f18;
  --img-bg: #070c1d;
  --border-color: #1f2937;

  --cancel-button: #1a0c1c;
}

.word-with-image {
  position: relative;
  display: inline-block;
}
.word-with-image:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  background-image: url(".././../public/assets/deli.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.gradient-bg {
  opacity: 0.5;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    103deg,
    var(--gradient-start) 0%,
    var(--gradient-color) 100%
  );
  filter: blur(70px);
}

.footer-bg {
  background-image: url("/assets/kitchen/footer.png");
  background-size: cover;
  background-position: center;
}

.combo-offer-bg {
  background-image: url("../../public/assets/offer-bg.png");
  background-size: cover;
  background-position: center;
}

@keyframes growFromBottom {
  from {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  to {
    transform: scaleY(1);
    transform-origin: bottom;
  }
}

.grow-from-bottom {
  transform: scaleY(0);
  transform-origin: bottom;
  animation: growFromBottom 0.5s ease-out forwards;
}
